@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --color-border: #1d2939;
  --color-text: #1d294a;
  --color-white: #fff;
  --color-edit: #3e58e8;
  --color-delete: #ff0000;
  --font-roboto: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-roboto);
}

.todoTitleHeader {
  text-align: center;
  margin-top: 2rem;
  color: var(--color-text);
  text-transform: uppercase;
  font-size: 1.5rem;
}

.todoContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.todoCreateForm {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.todoInput {
  border: 0.125rem solid var(--color-border);
  outline: none;
  width: 18.75rem;
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  font-family: var(--font-roboto);
  color: var(--color-text);
}

.buttonCreate {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-border);
  background-color: var(--color-border);
  color: var(--color-white);
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.buttonCreate:hover {
  background-color: var(--color-white);
  color: var(--color-border);
  cursor: pointer;
}

.todosContainer {
  width: 43.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.todo {
  width: 90%;
  display: flex;
  justify-content: center;
}

.todoInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.todoTitle {
  width: 300px;
  font-weight: 700;
}

.todoButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4375rem 1rem;
  color: var(--color-white);
  border-radius: 0.375rem;
  transition: all 0.5s ease;
}

.todoButtonEdit {
  background-color: var(--color-edit);
  border: 0.125rem solid var(--color-edit);
}

.todoButtonDelete {
  background-color: var(--color-delete);
  border: 0.125rem solid var(--color-delete);
}

.todoButtonEdit:hover {
  background-color: var(--color-white);
  color: var(--color-edit);
  cursor: pointer;
}

.todoButtonDelete:hover {
  background-color: var(--color-white);
  color: var(--color-delete);
  cursor: pointer;
}

.todoUpdateForm {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.todoUpdateInput {
  width: 18.75rem;
  padding: 0.6rem 0.2rem;
  font-size: 1rem;
  font-weight: 700;
  outline: none;
  color: var(--color-text);
  border: none;
  border-bottom: 2px solid var(--color-border);
  font-family: var(--font-roboto);
}

.todoError {
  width: 40%;
  background-color: var(--color-delete);
  color: var(--color-white);
  padding: 1rem 0;
  text-align: center;
  font-weight: 900;
  border-radius: 0.625rem;
  text-transform: uppercase;
}
